/* Overall CSS */
header {
  background-color: #4f0000;
  padding-top: 0.5rem; 
  color: #d9ced6;
  width: 100%;
}

body {
  background-color: #d9ced6;
}

header h1 {
  text-align: center;
}

#nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #303437;
}
  
.nav-link a {
  display: block;
  float: left;
  color: #d9ced6;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
  
.nav-link a:hover {
  background-color: #4f0000;
  color: #d9ced6;
}

/* Footer */
.footer {
  background-color: #4f0000;
  color: #d9ced6;
  padding: 0.5rem;
  display: block;
  position: relative;
  bottom: 0;
  width: 100%;
}

.social-links p {
  margin-right: 10px;
}

.social-links a {
  color: #d9ced6;
  margin-right: 10px;
  text-decoration: none;
  transition: color 0.3s;
}

.social-links a:hover {
  color: #303437;
}

/* Responsive Design */
@media (max-width: 768px) {
  .nav-links {
    flex-direction: column;
    gap: 10px;
  }

  header, footer {
    text-align: center;
  }
}

@media (max-width: 480px) {
  body {
    font-size: 14px;
  }

  section {
    margin-bottom: 20px;
  }
}

/* About Me page CSS */
.headshot {
  width: 20%;
  height: 20%;
  border-radius: 50%;
  padding: 15px;
  display: inline-flex;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #303437;
}

.about div {
  padding-top: 5px;
  text-align: center;
  padding-left: 5px;
}

.about p {
  font-size: 1.25rem;
}

h2 {
  text-align: center;
  color: #4f0000;
  font-size: 1.75rem;
}

/* Projects Page CSS */
#projects {
  display: grid;
  grid-template-columns: auto auto; /* Two columns */
  gap: 10px; /* Adds space between projects */
  justify-content: space-evenly;
  padding: 20px;
}

.project {
  text-align: center;
  border: 3px solid #114b5f;
  width: 45%; /* Creates responsive box */
  height: auto;
  background-color: #f3e9d2;
  box-shadow: -5px 5px 5px;
}

button {
  background-color: #1a936f;
  color: #f3e9d2;
  width: 30%;
  height: 12%;
}

button:hover {
  background-color: #114b5f;
  border-color: #1a936f;
}

/* Restaurant Website CSS */
.writeup {
  padding-top: 20px;
  border: 3px solid #114b5f;
  background-color: #f3e9d2;
  box-shadow: -5px 5px 5px;
  text-align: center;
  width: 350px;
  height: 325px;
}

.eats {
  width: 75%;
  height: auto;
}

/* Skills Page CSS */
#skills {
  display: grid;
  grid-template-columns: auto auto; /* Two columns */
  gap: 10px; /* Adds space between projects */
  justify-content: space-evenly;
  padding: 20px;
}