header {
    background-color: #1a936f;
    padding-top: 15px; 
}

body {
    background-color: #f3e9d2;
}

h1 {
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #114b5f;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #1a936f;
  }

  .headshot {
    width: 50%;
    height: 50%;
    border: 1px solid #114b5f;
    border-radius: 2px;
  }